<td colspan="12">

  <div style="background: #e6e6e6; margin:15px;padding:15px;border-radius:10px;">

    <div>

      <div class="col-sm-12" style="border-bottom: 2px dashed #b6b6b6;margin-bottom:5px;padding:0px;">
        <h3 style="float:left;margin-top:5px;">Pilotos</h3>
        <%= link_to "<i class='glyphicon glyphicon-plus-sign'></i> agregar Piloto".html_safe, "#", id: "link-to-agregar-carrera-detalle", class: "btn btn-primary btn-xs", style: "float:right;" %>
      </div>
 
    </div> 

    <div style="clear:both;"></div>
   
    <div class="panel-body">
      
      <div class="table-responsive" id="table-carrera-detalle">
          
        <table class="table table-bordered table-hover table-striped display dataTable" aria-describedby="example_info">
            
          <thead> 
              
            <tr role="row">
              
              <th>ID</th>
              <th>Datos Piloto</th>
              <th>Número Moto</th>
              <th>Posicion</th>
              <th>Marcar Tiempo</th>
              <th>Faltas</th>
              <th style='text-align:right;'></th>
              
            </tr>
            
          </thead>
       
          <tbody id="carrera-detalle-lista">

            <% if @carreras_detalles.present? %>
            
              <% @carreras_detalles.each do |id|%>

                <tr>
                  <td><%= id.id%></td>
                  <td><%= id.datos_piloto %></td>
                  <td><%= id.numero_piloto %></td>
                  <td><%= id.posicion %></td>
                  <td style="text-align:center;"><td style="width: 50px;text-align:right;">
                    <%= link_to icon_confirmar,"#", onclick: "castigar_piloto(#{id.id});return false;", class: "btn btn-danger btn-xs", id: "btn-eliminar-carrera-detalle", title: 'Haga click para eliminar al Piloto de esta Inscripción'  %>
                  </td><td style="width: 50px;text-align:right;">
                    <%= link_to icon_minus_sign,"#", onclick: "castigar_piloto(#{id.id});return false;", class: "btn btn-danger btn-xs", id: "btn-eliminar-carrera-detalle", title: 'Haga click para eliminar al Piloto de esta Inscripción'  %>
                  </td></td>
                  <td></td>
                  

                </tr>

              <% end %>

              <tr id="tab-paginacion">

                  <td colspan="12" style="text-align:center;"><div class="flickr_pagination"><%= ajax_will_paginate @carreras_detalles, :params => params %></div></td>
              </tr>

            <% else %>

              <tr><td colspan=3>No se han encontrado datos.</td></tr>

            <% end %>
                
          </tbody>
              
        </table>
        
      </div>
      
    </div>
    
  </div>

  <%#= modal_window( window_id: "modal-window-agregar-carrera-detalle", link_to_id: "#link-to-agregar-carrera-detalle", url: carreras_agregar_carrera_detalle_path( window_id: "modal-window-agregar-carrera-detalle", carrera_id: params[:carrera_id]) )%>

</td>


  <script type="text/javascript">

    function castigar_piloto(carrera_detalle_id) {

        swal({
          title: "Confirmar",
          text: "Al confirmar el Piloto será eliminado de esta Inscripción.",
          type: "warning",
          showCancelButton: true,
          confirmButtonClass: "btn-confirm",
          confirmButtonText: "Confirmar",
          cancelButtonText: "Cancelar",
          closeOnConfirm: true,
          closeOnCancel: true
        },
        function(isConfirm) {
          if (isConfirm) {

              $.ajax({
                url: "<%= url_for(carreras_castigar_piloto_path) %>", 
                data: {carrera_detalle_id: carrera_detalle_id},
                dataType: 'script'
              });
            
          } else{

            return false;

          }

        });

    
    }

    

  </script>