<% if carreras.present? %>

  <% carreras.each do |t| %>

    <tr>

      <td ><%= t.carrera_id %></td>
      <td ><%= t.inscripcion%></td>
      <td style="text-align:center;"><%= t.fecha_carrera.strftime("%d/%m/%Y") if t.fecha_carrera.present? %></td>
      <td ><%= t.torneo%></td>
      <td ><%= t.categoria%></td>
      <td ><%= t.estado_carrera%></td>
      <td>

        <%= link_to_carrera_detalle(t.carrera_id) %>

        <%= link_to icon_eliminar, carreras_eliminar_path(id: t.carrera_id), remote: true, class: "btn btn-danger btn-xs", title: 'Haga click para eliminar la habilitación de carreras', data: { confirm: "Está seguro de eliminar la carrera?"} %>

        <%= link_to icon_confirmar,"#", onclick: "finalizar_carrera(#{t.carrera_id});return false;", class: "btn btn-success btn-xs", id: "btn-finalizar-carrera-#{t.carrera_id}", title: 'Haga click para finalizar esta carrera y obtener los puntajes.'  %>
         
       </td>

      </td>

    </tr>

  <% end %>

<tr id="tab-paginacion">

    <td colspan="12" style="text-align:center;"><div class="flickr_pagination"><%= ajax_will_paginate carreras, :params => params %></div></td>
</tr>

<tr>
    <td colspan="12">
      Cantidad de registros encontrados: <%= @total_encontrados %> 
    </td>
</tr>

 

<% else %>

  <tr>

    <td colspan="12"><p class='none-result'>No se han encontrado resultados.</p></td>

  </tr>


<% end %>

<script type="text/javascript">

   function finalizar_carrera(carrera_id) {

        swal({
          title: "Finalizar Carrera",
          text: "Al finalizar la carrera se generarán los puntajes de cada Piloto.",
          type: "warning",
          showCancelButton: true,
          confirmButtonClass: "btn-confirm",
          confirmButtonText: "Confirmar",
          cancelButtonText: "Cancelar",
          closeOnConfirm: true,
          closeOnCancel: true
        },
        function(isConfirm) {
          if (isConfirm) {

              $.ajax({
                url: "<%= url_for(carreras_finalizar_carrera_path) %>", 
                data: {carrera_id: carrera_id},
                dataType: 'script'
              });
            
          } else{

            return false;

          }

        });

    
    }

</script>>
