
<table align="center" class="cual" style="width: 80%; border: 1px solid #000 !important;">
 
  <tr>

      <th>ID Detalle</th>
      <th>Campeonato</th>
      <th>Fecha</th>
      <th>Categoria</th>
      <th>Piloto</th>
      <th>Posición</th>
      <th>Puntaje Total</th>
      

  </tr>

  <% @resumen_puntaje_carreras.each do |resumen_puntaje|%>
    

  
    <tr>

      <td><%= resumen_puntaje.resumen_puntaje_id%></td>
      <td><%= resumen_puntaje.torneo%></td>
      <td><%= resumen_puntaje.torneo_detalle%></td>
      <td><%= resumen_puntaje.categoria%></td>
      <td><%= resumen_puntaje.datos_piloto%></td>
      <td><%= resumen_puntaje.posicion%></td>
      <td><%= resumen_puntaje.puntaje%></td>

    </tr>
      
    
<%end%>



<br/>
<br/>
<br/>