<%= javascript_include_tag "sweetalert.min" %>
<%= stylesheet_link_tag "sweetalert" %>

<div>

  <div class="col-sm-12" style="border-bottom: 2px solid #b6b6b6;margin-bottom:5px;padding:0px;">
    <h3 style="float:left;margin-top:5px;">Generar Informes</h3>
    
  </div>
</div>

<div style="clear:both;"></div>
 

<%= form_for "informes", remote: true, url: informes_indexa_url, html: { id: "form-informes-carreras" }, method: 'GET' do |f| %>

  <div class="modal-body">    

    <div class="col-sm-6 col-sm-offset-3">

      <div class="panel-body" style="background:#e6e6e6; ">

        <div class="col-sm-1"></div><br />
        <div class="col-sm-4"><%= label_tag :nil, "Campeonato".html_safe %></div>
        <div class="col-sm-7" style= "margin: 0px 0px 21px;"><%= collection_select :form_buscar_carreras, :torneo_id, Torneo.orden_descripcion, :id, :descripcion, { include_blank: true}, {:class => 'form-control input-sm', style: "font-size:9px;"} %></div>
         <div class="col-sm-1"></div><br />

        <div class="col-sm-1"></div><br />
        <div class="col-sm-4"><%= label_tag :nil, "Fecha".html_safe %></div>
        <div class="col-sm-7" style= "margin: 0px 0px 21px;"><%= collection_select :form_buscar_carreras, :fecha_id, TorneoDetalle.orden_descripcion, :id, :descripcion, { include_blank: true}, {:class => 'form-control input-sm', style: "font-size:9px;"} %></div>
         <div class="col-sm-1"></div><br />


         <div class="col-sm-1"></div><br />
        <div class="col-sm-4"><%= label_tag :nil, "Categoría".html_safe %></div>
        <div class="col-sm-7" style= "margin: 0px 0px 21px;"><%= collection_select :form_buscar_carreras, :categoria_id, Categoria.orden_descripcion, :id, :descripcion, { include_blank: true}, {:class => 'form-control input-sm', style: "font-size:9px;"} %></div>
         <div class="col-sm-1"></div><br />
        
        <div class="col-sm-4"><%= label_tag nil, "Piloto #{attr_requerido}".html_safe %></div>
        <div class="col-sm-7"><%= hidden_field_tag :piloto_id, nil ,class: 'form-control input-sm' %></div>
        <div class="col-sm-7" style= "margin: 0px 0px 21px;"><%= text_area_tag :datos_piloto, nil, rows: 3 ,class: 'form-control input-sm'%></div>
        <br style="clear: both;"/>

        

        <div class="col-sm-1"></div><br />
        <div class="col-sm-4"><%= label_tag :nil, "Desde Fecha #{attr_requerido}".html_safe %></div>
        <div class="col-sm-5" style= "margin: 0px 0px 21px;"><%= date_field_tag :fecha_desde, @fecha, class: 'form-control input-sm', style: "margin-top:0px;height:42px" %>
        </div>    
        <div class="col-sm-1"></div><br /> 

         <div class="col-sm-1"></div><br />
        <div class="col-sm-4"><%= label_tag :nil, "Hasta Fecha #{attr_requerido}".html_safe %></div>
        <div class="col-sm-5" style= "margin: 0px 0px 21px;"><%= date_field_tag :fecha_hasta, @fecha, class: 'form-control input-sm', style: "margin-top:0px;height:42px" %>
        </div>    
        <div class="col-sm-1"></div><br />  

              
        <div class="col-sm-1"></div><br />
        <div class="col-sm-4"><%= label_tag :nil, "Estado".html_safe %></div>
        <div class="col-sm-7" style= "margin: 0px 0px 21px;"><%= collection_select :form_buscar_produccion, :estado_produccion_id, EstadoCarrera.order('id'), :id, :descripcion, { include_blank: true}, {:class => 'form-control input-sm', style: "font-size:9px;"} %></div>
         <div class="col-sm-1"></div><br />


      </div>
      <div class="modal-footer" style="background:#e6e6e6; text-align: center">

        <%= submit_tag  "Generar Informe", class: "btn btn-primary", id: "btn-guardar-produccion" %>
          
      </div>

    </div>  

  </div>  

<%end%>

<style>
    /*INTRO.JS*/
    .introjs-helperNumberLayer{
        width: 23px;
        height: 23px;
        padding: 0px;
    }

    #start-tour{
        cursor: pointer;
    }

    #form-buscar-informes table th { background:#e6e6e6;}
    #form-buscar-informes table th span.limpiar { background:#fff;}
    .ui-autocomplete{z-index: 1000000; font-size: 10px;}

</style>



<script type="text/javascript">


   //Obtener Piloto
  $("#datos_piloto").bind('focus', function(){   

    var pilotos = [];
    $("#datos_piloto").val('');
    $("#piloto_id").val('');

    $.getJSON("<%= url_for(pilotos_buscar_piloto_path) %>", { piloto: $("#datos_piloto").val()}, function(j){
        
      var nombre_piloto = "";
      var options = "<option value=''> -- Seleccione un Piloto -- </option>"

      for (var i = 0; i < j.length; i++) {
        
        if(j[i].nombre_piloto != nombre_piloto ){
          
          pilotos.push( {value: j[i].piloto_id +" - "+ j[i].ci +" - "+ j[i].nombres +" "+ j[i].apellidos });
          nombre_piloto =j[i].piloto_id +" - "+ j[i].nombres +" "+ j[i].apellidos  ;

          options += "<option value="+ j[i].piloto_id +"-"+ j[i].nombres +" "+ j[i].apellidos + "</option>"

        }

      }

      $("#piloto_id").html(options);

    })

    $("#datos_piloto").autocomplete({

      minLength: 1,
      source: pilotos,
      focus: function( event, ui ) {
      
        $("#datos_piloto" ).val( ui.item.label );
        return false;
      },
      select: function( event, ui ) {

        var datos = ui.item.value.split(" - ");
        $("#datos_piloto").val( ui.item.label );
        $("#piloto_id").val(datos[0]);
        return false;
      }
    })

  });

  
  
  //----------------------------INICIO -----------------------------------------//
  aplicar_datepicker();

  
  //----------------------------------------------------------------------------//


</script>