<%= link_to icon_detalles, "#", id: "link-to-inscripcion-detalle-#{inscripcion_id}", class: 'btn btn-success btn-torneo-detalle btn-xs', title: 'Haga click aquí para ver las fechas del campeonato.', onclick: "$('.modal').html('');return false;" %>

<script type="text/javascript">

  $("#link-to-inscripcion-detalle-<%= inscripcion_id %>").bind('click', function(){

    var contenido = $.trim($("#inscripcion-detalle-<%= inscripcion_id %>").html());

    $(".inscripcion_detalle").html('');

    if(contenido.length == 0){

    $(this).parent().parent().after("<tr id='inscripcion-detalle-<%= inscripcion_id %>' class='inscripcion'><td colspan='12' style='text-align:center;'><i class='fa fa-refresh fa-spin'></i> Cargando...</td></tr>")

      $.ajax({

        type: 'GET',
        url: '<%= url_for(inscripciones_inscripcion_detalle_path) %>',  
        data: { inscripcion_id: <%= inscripcion_id %>},
        dataType: 'script'
        
      })

    }
    
    return false;
  })

</script>