<% if torneos.present? %>

  <% torneos.each do |t| %>

    <tr>

      <td ><%= t.id %></td>
      <td ><%= t.descripcion%></td>
      <td style="text-align:center;"><%= t.fecha.strftime("%d/%m/%Y") if t.fecha.present? %></td>
      <td ><%= t.cantidad_fechas%></td>
      <td >
        <%= link_to_editar_torneo(t) %>
        <%= link_to_torneo_detalle(t.id) %>
        <%= link_to icon_eliminar, torneos_eliminar_path(id: t.id), remote: true, class: "btn btn-danger btn-xs", title: 'Haga click para eliminar el torneo', data: { confirm: "Está seguro de eliminar el Torneo?"} %>
        <%= link_to icon_confirmar,"#", onclick: "finalizar_campeonato(#{t.id});return false;", class: "btn btn-success btn-xs", id: "btn-finalizar-campeonato-#{t.id}", title: 'Haga click para finalizar el campeonato y obtener resultados de las distintas Categorias Habilitadas.'  %>

       </td>

      </td>

    </tr>

  <% end %>

<tr id="tab-paginacion">

    <td colspan="12" style="text-align:center;"><div class="flickr_pagination"><%= ajax_will_paginate torneos, :params => params %></div></td>
</tr>

<tr>
    <td colspan="12">
      Cantidad de registros encontrados: <%= @total_encontrados %> 
    </td>
</tr>

 

<% else %>

  <tr>

    <td colspan="12"><p class='none-result'>No se han encontrado resultados.</p></td>

  </tr>


<% end %>

<script type="text/javascript">

   function finalizar_campeonato(torneo_id) {

        swal({
          title: "Finalizar Campeonato",
          text: "Al finalizar se generarán los puntajes de las distintas Categorías.",
          type: "warning",
          showCancelButton: true,
          confirmButtonClass: "btn-confirm",
          confirmButtonText: "Confirmar",
          cancelButtonText: "Cancelar",
          closeOnConfirm: true,
          closeOnCancel: true
        },
        function(isConfirm) {
          if (isConfirm) {

              $.ajax({
                url: "<%= url_for(torneos_finalizar_campeonato_path) %>", 
                data: {torneo_id: torneo_id},
                dataType: 'script'
              });
            
          } else{

            return false;

          }

        });

    
    }

</script>
